* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  text-decoration: none;
  background-color: #5fa8d3;
  border-color: #5fa8d3;
  font-weight: 700;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('https://cdn.pixabay.com/photo/2016/06/09/23/45/soldier-1447008_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 400px;
}
.pages__bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('../public/job.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 400px;
}
.footer-links {
  list-style-type: none;
  padding-left: 0;
}
#footer__heading {
  font-weight: 700;
}

.social-icons {
  font-size: xx-large;
}
a {
  text-decoration: none;
}
.feature-icon i {
  font-size: xx-large;
}
