* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

#scroll-white::-webkit-scrollbar-track {
  border: 1px solid #fff;
  background-color: #fff;
}

#scroll-white::-webkit-scrollbar {
  width: 10px;
  background-color: #fff;
}
#scroll-black::-webkit-scrollbar-track {
  border: 1px solid #212529;
  background-color: #212529;
}

#scroll-black::-webkit-scrollbar {
  width: 10px;
  background-color: #212529;
}
#scroll-white::-webkit-scrollbar-thumb,
#scroll-black::-webkit-scrollbar-thumb {
  background-color: #0d6efd;
}

a {
  color: inherit;
  text-decoration: none;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  text-decoration: none;
  background-color: #5fa8d3;
  border-color: #5fa8d3;
  font-weight: 700;
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('https://cdn.pixabay.com/photo/2016/06/09/23/45/soldier-1447008_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 400px;
}
.pages__bg-overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('../public/job.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 400px;
}
.footer-links {
  list-style-type: none;
  padding-left: 0;
}
#footer__heading {
  font-weight: 700;
}

.social-icons {
  font-size: xx-large;
}
a {
  text-decoration: none;
}
.feature-icon i {
  font-size: xx-large;
}
.text-truncate-container {
  width: 100%;
}
.text-truncate-container p {
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.body-text p {
  line-height: 2.5;
}

.blog-comment__form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.comment {
  padding: 1rem 0;
}
